<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQnKLpxqBUl0-pUX1xbdskxCkYGL7glXZqpbdMyVmuvi2JSypswMA">
<h1>Welcome! </h1>
<h1>Search github for any keyword and add them to your favorite repositories list:</h1>


<form {{action "mySearch" on="submit"}}>
  {{input type="text"
          value=search
  }}
</form>
