<img src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcR9ycyyBaWLDYktESSNJNRd1bZ1itTeHx9tz3XzKKTg-3bMyU0zIQ'>
<h1>Your Favorite Repositories:</h1>
<ul>
{{#each favorite in model}}
  <li>{{favorite}}</li>
{{/each}}
</ul>
